@CHARSET "ISO-8859-1";

body,html{
	height: 100%;
}

.bg-size{
	background-size: 100% 100% !important;
}

.bg-image{
    width: 100%;
    height: 100%;
	background:
	    /* top, transparent black, faked with gradient */ 
	    linear-gradient(
	      rgba(0, 0, 0, 0.7), 
	      rgba(0, 0, 0, 0.7)
	    ),
	    /* bottom, image */
	    url(https://static.pexels.com/photos/12064/pexels-photo-12064.jpeg),
	    no-repeat
	;
}

.login{
	height: 320px;
}
.form-login, .login {
	background-color: #e9d6b6;
    display: block;
    position: absolute;
    top: 25%;
    width: 50%;
    left: 25%;
}

.login-color{
	background-color: #e9d6b6;
	border-radius: 30px;
	
}

.margin-input{
	margin-top: 15px;
}

.margin-button{
	margin-top: 20px;
}

.carousel-inner{
	max-height: 350px;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-inverse{
	height: 100px;
	color: #fff;
}
#bs-example-navbar-collapse-1 > ul > li > a {
	color: white;
	background
	transition: background-color 1.2s ease;
}
.btn{
	transition: background-color 1.2s ease;
	font-size: 20px;
}
.btn-lg{
	margin: 23px;
		
}
.carousel-inner>.item>img{
	max-height: 350px;
}

#logado .btn-primary{
	display: block;
	margin: 0 auto;
	text-align: center;
}

#logado .thumbnail{
	cursor: pointer;
}

.thumbnail>img{
    height: 200px
}