@CHARSET "utf-8";

body,html{
	height: 100%;
	font-size: 15.5px;
}

#tpl-login{
	overflow: hidden;
}

* {
	margin:0;
	padding:0;
	list-style:none;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.margin-top{
	margin-top: 50px;
}

#box-login{
	position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.box-cart{
	border: 1px solid #e7e7e7;
	border-top: 0;
}

.box-cart-empty{
	border: 1px solid #e7e7e7;
	min-height: 500px;
	background-image: url('../img/sad.png');
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 1px 2px 8px -1px;
}

.box-products{
	border: 1px solid #e6e6e6;
	padding: 0 !important;
	box-shadow: 1px 2px 8px -1px;
	margin-bottom: 20px;
	height: 200px;
	font-size: 18px;
	background-color: white;
	color: #484848;
}

.box-products:hover{
	box-shadow: 4px 5px 20px -2px;
	
}

.box-products img{
	height: 150px;
	width: 100%;
}

.box-products.col-md-4 {
	width: calc(33.33% - 10px);
	margin-right: calc(((33.33% - 10px) - 33.33%) * -1);
}

.box-products .glyphicon{
	font-size: 30px !important;
	margin-top: 60px;
}

.bg-image{
    width: 100%;
    height: 100%;
   	background-color: #000;
    background-image: url(https://static.pexels.com/photos/12064/pexels-photo-12064.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;
}


.login{
	height: 320px;
}
.form-login, .login {
    height: auto;
    display: block;
    width: 350px;
    display: table;
    padding: 15px 5px;
}

.login-color{
	background-color: #e9d6b6;
	border-radius: 30px;
}

.margin-input{
	margin-top: 15px;
}

.margin-button{
	margin-top: 20px;
}

.carousel-inner{
	max-height: 350px;
}

.navbar{
	margin-bottom: 0px;
}

.carousel-inner>.item>img{
	max-height: 350px;
}

#logado .btn-primary{
	display: block;
	margin: 0 auto;
	text-align: center;
}

#logado .thumbnail{
	cursor: pointer;
}

.thumbnail>img{
    height: 200px
}

a.lixo > i{
	color: #C9302C;
	opacity:0.4;
}
a.lixo > i:hover,a.pencil > i:hover{
	opacity:1;
	transition:0.2s ease;
}

a.pencil > i{
	color: #F0AD4E;
	opacity:0.4;
}

#bs-example-navbar-collapse-1 > ul > li > a {
	color: grey;
	background
	transition: background-color 1.0s ease;
}
.btn{
	font-size: 16px;
}
.btn-lg{
	margin: 27px 27px 0 0 ;	
}
.btn-add-some {
	margin: 10px 0 0 20px;
}
