@CHARSET "ISO-8859-1";

body,html{
	height: 100%;
}
#tpl-login{
	background-image: url('https://static.pexels.com/photos/12064/pexels-photo-12064.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.login{
	height: 50%;
    background-color: #e9d6b6;
    display: block;
    position: absolute;
    top: 25%;
    width: 50%;
    left: 25%;
}

.login-color{
	background-color: #e9d6b6;
	border-radius: 30px;
	
}

.margin-input{
	margin-top: 15px;
}

.margin-button{
	margin-top: 20px;
}

.carousel-inner{
	max-height: 350px;
}

.navbar{
	margin-bottom: 0px;
}

.carousel-inner>.item>img{
	max-height: 350px;
}

#logado .btn-primary{
	display: block;
	margin: 0 auto;
	text-align: center;
}

#logado .thumbnail{
	cursor: pointer;
}

.thumbnail>img{
    height: 200px
}